{% from '@SyliusAdmin/Macro/translationForm.html.twig' import translationFormWithSlug %}

<div class="ui segment">
    {{ form_errors(form) }}
    <div class="two fields">
        {{ form_row(form.label) }}
        {{ form_row(form.channels) }}
    </div>
    <div class="two fields">
        {{ form_row(form.urlRule) }}
        {{ form_row(form.strategy) }}
    </div>
</div>
